






.footer {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between; /* توزيع العناصر بالتساوي */
    align-items: center;
    padding: 20px;
    text-align: center;
}

.footer div {
    flex: 1; /* يجعل كل قسم يأخذ مساحة متساوية */
}

button {
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}



