

.section3 {
    text-align: center;
    padding: 40px 20px;
    
    color: white !important;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 20px;
}

.card {
    background: #333; 
    color: white !important;

    padding: 20px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;

}

